// Container
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background);
  margin-bottom: 20px;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

// Title
.about-title {
  text-shadow: 1px 2px 2px var(--text);
  color: var(--title-1);
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
  @media screen and (max-width: 280px) {
    font-size: 1.9rem;
  }

  @media screen and (min-width: 281px) and (max-width: 350px) {
    font-size: 2rem;
  }

  @media screen and (min-width: 351px) and (max-width: 450px) {
    font-size: 2.4rem;
  }
}

// Subtitle
.about-subtitle {
  color: var(--text);
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin: 20px 20px 20px 20px;

  @media screen and (max-width: 280px) {
    font-size: 1.5rem;
  }

  @media screen and (min-width: 281px) and (max-width: 350px) {
    font-size: 1.7rem;
  }

  @media screen and (min-width: 351px) and (max-width: 450px) {
    font-size: 1.8rem;
  }
}

// Image container
.about-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  @media screen and (min-width: 1024px) {
    width: 45%;
    height: 100%;
  }
}

// About image
.about-img,
.about-img2 {
  width: 100%;
  height: 100%;
  max-height: 70vh;
  object-fit: cover;
  margin-top: 30px;
  border-radius: 80px;
  @media screen and (max-width: 1023px) {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  @media screen and (min-width: 1024px) {
    width: 100%;
    height: 100%;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1023px) {
  .mobile-only {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .mobile-only {
    display: block;
  }
}
.desktop-only {
  display: none;
}
@media screen and (min-width: 1024px) {
  .desktop-only {
    display: block;
  }
}
.about-img2 {
  width: 100%;
  height: 400px;
}
// Text container
.about-text-container,
.about-text-container2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
  @media screen and (min-width: 1024px) {
    width: 50%;
  }
}

// Text
.about-text,
.about-text2 {
  font-family: var(--font-2);
  text-align: start;
  color: var(--text);
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  @media screen and (max-width: 450px) {
    font-size: 1rem;
  }
}

.about-text {
  @media screen and (min-width: 1024px) {
    margin-left: 0;
  }
}

.about-text2 {
  @media screen and (min-width: 1024px) {
    margin-right: 0;
  }
}
