// Typewriter effect
.typewriter-text {
  font-size: 3.5vw;
  white-space: pre-wrap;
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 280px) {
  .typewriter-text {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 281px) and (max-width: 350px) {
  .typewriter-text {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 351px) and (max-width: 450px) {
  .typewriter-text {
    font-size: 1.8rem;
  }
}

// Ufo effect
.flying-saucer {
  width: 50vw;
  border: 1px solid orange;
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: top 1s, opacity 1s;
  @media (max-width: 860px) {
    width: 80vw;
  }
}

.show-saucer {
  top: 30vh; /* Position Ufo lorsque visible */
  opacity: 1;
}
