// Home page title
.home-title {
  color: var(--title-1);
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  text-shadow: 1px 2px 1px var(--text);
  @media screen and (max-width: 280px) {
    font-size: 1.9rem;
  }
  @media screen and (min-width: 281px) and (max-width: 350px) {
    font-size: 2rem;
  }
  @media screen and (min-width: 351px) and (max-width: 450px) {
    font-size: 2.4rem;
  }
}

// Typewriter effect
.typewriter-text {
  font-size: 2rem;
  white-space: pre-wrap;
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 280px) {
  .typewriter-text {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 281px) and (max-width: 350px) {
  .typewriter-text {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 351px) and (max-width: 450px) {
  .typewriter-text {
    font-size: 1.8rem;
  }
}

.scroll-animation-container {
  width: 100%;
  height: 100%;
}
