// Container for all the app
.app-container {
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--background);
  transition: background-color 2s, color 2s; // Time transition for dark & light mode
}

.start-container {
  position: absolute; // ou 'fixed' si vous voulez que le bouton reste en place lors du défilement
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; // Assurez-vous que cela est supérieur à l'index z de la vidéo
}

.start-button {
  background-image: url(../../assets/images/buttons/start_button_img.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  transition: transform 0.1s, box-shadow 0.1s; // Transition douce pour l'effet d'enfoncement
  cursor: pointer;
  &:hover {
    transform: scale(1.2); // Augmentation de taille au survol
  }
  &:active {
    transform: scale(0.95); // Réduction de taille pour l'effet d'enfoncement
    position: relative;
    top: 4px;
    box-shadow: none;
  }
}
