// Container for all the app
.app-container {
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--background);
  transition: background-color 2s, color 2s; // Time transition for dark & light mode
}

.start-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.start-button {
  background-image: url(../../assets/images/buttons/start_button_img.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px; // Définissez la largeur souhaitée pour votre bouton
  height: 200px; // Définissez la hauteur souhaitée pour votre bouton
  border-radius: 50px; // Arrondir les coins du bouton
  cursor: pointer;
  &:active {
    position: relative;
    top: 4px;
    box-shadow: none;
  }
}
