// Container for all the app
.app-container {
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--background);
  transition: background-color 2s, color 2s; // Time transition for dark & light mode
}

.background-img {
  position: relative;
  background-image: url(../../assets/images/background/bg_1.jpeg);
  background-size: cover;
  background-position: center;
  min-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  @media (max-width: 350px) {
    min-height: 55vh;
  }
  @media (min-width: 351px) and (max-width: 600px) {
    min-height: 65vh;
  }
  @media (min-width: 601px) and (max-width: 1023px) {
    min-height: 100vh;
  }
  @media (min-width: 1023px) {
    min-height: 120vh;
  }
}

.start-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.start-button {
  background-image: url(../../assets/images/buttons/start_button_img.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  transition: transform 0.1s, box-shadow 0.1s; // Slow effect transition
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(0.95);
    position: relative;
    top: 4px;
    box-shadow: none;
  }
}
