// ### MOBILE ###
@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.8);
  }
}
// Global container for the logo
.mobile-logo-container {
  margin: 0 80%;
}
@media screen and (max-width: 300px) {
  .mobile-logo-container {
    margin: 0 55%;
  }
}
@media screen and (min-width: 301px) and (max-width: 700px) {
  .mobile-logo-container {
    margin: 0 65%;
  }
}
@media screen and (min-width: 701px) and (max-width: 1023px) {
  .mobile-logo-container {
    margin: 0 80%;
  }
}

// Container in Logo
.company-logo-container {
  animation: pulse 4s infinite;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: flex-start;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 100px rgba(67, 29, 236, 0.963);

  // Color Light mode
  &.light-mode {
    background: linear-gradient(to top, rgb(149, 4, 4), rgb(245, 212, 46));
    box-shadow: 0 0 50px rgba(210, 12, 12, 1);
    border: 1px solid #fe2600;
  }

  // Color Dark mode
  &.dark-mode {
    background: linear-gradient(to top, (#8a2be2), (#ee82ee), (#ff6eff));
    box-shadow: 0 0 50px (#fdb6fd);
    border: 1px solid #b580b2;
  }
}

// Image logo
#mobile-logo,
#desktop-logo {
  animation: pulse 4s infinite;
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
@media (max-width: 1023px) {
  #mobile-logo {
    height: 120px;
  }
  #desktop-logo {
    height: 100px;
  }
}

// ### DESKTOP ###
// Global container for the logo
.desktop-logo-container {
  margin: 0 55% 50%;
}
@media screen and (min-width: 1300px) {
  .desktop-logo-container {
    margin: 0 65% 40%;
  }
}
