// STYLE NAV

// Dark mode & Light mode icons button
.theme-toggle {
  cursor: pointer;
  width: 1vw;
  margin-left: 4vw;
  padding-top: 10vh;
}

.language-toggle {
  cursor: pointer;
  width: 5px;
  font-size: 2rem;
  margin-left: 6vw;
  color: var(--text);
}

.light-mode {
  --background: var(--background-light);
  --text: var(--text-dark);
}

.dark-mode {
  --background: var(--background-dark);
  --text: var(--text-light);
}

// Navigation
.navigation {
  ul {
    width: 20vw;
    display: grid;
    margin: 50px;

    // List of navigation links
    a {
      width: 100%;
      text-decoration: none;
      margin: 20px;
      font-size: 2rem;
      padding: 10px;
      color: var(--text);
    }
    // Active link
    .nav-active {
      position: relative;
      // Animation for the active link
      &::after {
        content: "";
        height: 8px;
        width: 0;
        background: var(--gradient);
        position: absolute;
        border-radius: 10px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-animation: anim 0.3s ease forwards;
        animation: anim 0.5s ease forwards;

        @-webkit-keyframes anim {
          to {
            width: 100%;
          }
        }
        @keyframes anim {
          to {
            width: 100%;
          }
        }
      }
    }
  }
}
