$bg-gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.1) 0%,
  rgba(0, 0, 0, 1.5) 100%
);

.projects-container {
  height: 70vh;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  border-radius: 50px;
  @media screen and (max-width: 1024px) {
    border-radius: 0;
  }
}

.section-wrap {
  position: relative;
  width: 100%;
}

.projects-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;
  z-index: 999;
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(0.66rem, 2vw, 1rem);
  letter-spacing: 0.5em;
  @media screen and (max-width: 450px) {
    letter-spacing: 0.2em;
  }
}

.section-heading {
  display: block;
  font-size: clamp(1rem, 9vw, 5rem);
  font-weight: 400;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  flex-wrap: wrap;
  margin-right: -0.5em;
  color: hsl(0, 0, 80%);
  width: 90vw;
  max-width: 1200px;
}

.section-heading .char {
  display: inline-block;
  opacity: 0;
  transform: translateY(100%);
  -webkit-text-stroke: 1px goldenrod;
  @media screen and (max-width: 450px) {
    -webkit-text-stroke: 0.5px goldenrod;
  }
}

.my-projects-title {
  margin-top: 50px;
  font-family: var(--font-1);
  font-size: 2.5rem;
  color: #3498db;
  text-shadow: 2px 2px 4px #000000;
}

.project-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  backdrop-filter: blur(5px);
  border-radius: 50px;
  margin-bottom: 50px;
}

.project-link {
  background-image: var(--gradient);
  border-radius: 50px;
  color: hsl(0, 0, 80%);
  text-shadow: 2px 2px 4px #000000;
  text-decoration: none;
}

section {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  visibility: hidden;

  .outer,
  .inner {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }

  .bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    overflow: hidden;

    .section-heading {
      z-index: 2;
    }
  }
}

.first {
  .bg {
    width: 100%;
    background-image: $bg-gradient,
      url(../../assets/images/background/nebula_webb.jpg);
  }
}

.second {
  .bg {
    background-image: $bg-gradient,
      url(../../assets/images/projectsImages/img-Garage-Parrot.png);
  }
}

.third {
  .bg {
    background-image: $bg-gradient,
      url(../../assets/images/projectsImages/app-andragogy.png);
  }
}

.fourth {
  .bg {
    background-image: $bg-gradient,
      url(../../assets/images/projectsImages/app-webagency.png);
  }
}

.fifth {
  .bg {
    background-image: $bg-gradient,
      url(../../assets/images/projectsImages/site-asso-montagne.png);
  }
}

.sixt {
  .bg {
    background-image: $bg-gradient,
      url("https://images.unsplash.com/photo-1617141636403-f511e2d5dc17?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxODAzMjc4Mw&ixlib=rb-1.2.1&q=75w=1920");
    background-position: 50% 45%;
  }
}

.section-heading * {
  will-change: transform;
}
// ########################################################
// ##### TODO : Nettoyer le code, modifier les images des projets et les liens #####
// ########################################################

// .projects-section {
//   margin-top: 50px;
//   text-align: center;
// }

// .my-projects-title {
//   font-size: 2.5rem;
//   color: #3498db;
//   margin-bottom: 50px;
// }

// .projects-list {
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
// }

// .project {
//   background-color: #ecf0f1;
//   border-radius: 8px;
//   padding: 20px;
//   margin: 15px;
//   margin-bottom: 50px;
//   box-shadow: 0 0 50px var(--white);
// }

// .project-title {
//   font-size: 1.5rem;
//   color: #2c3e50;
//   margin-bottom: 10px;
// }

// .project-description {
//   font-size: 1rem;
//   color: #8a2be2;
//   margin-bottom: 15px;
// }

// .project-tech {
//   display: flex;
//   justify-content: center;
// }

// .project-tech-icon {
//   font-size: 2rem;
//   color: #e74c3c;
//   margin: 0 5px;
// }

// #imgProjects {
//   // width: 40vw;
//   height: 40vh;
//   margin-top: 10px;
//   border-radius: 8px;
//   box-shadow: 0 0 5px rgba(2, 1, 10, 0.963);
// }

// .project-preview {
//   position: relative;
// }

// .project-link {
//   color: var(--text);
//   width: 50%;
//   position: absolute;
//   // margin: 10vw;
//   // top: 0;
//   left: 20vw;
//   // right: 120px;
//   bottom: 50px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   transform: translate(-50%, -50%);
//   visibility: hidden;
//   opacity: 0;
//   transition: visibility 0s, opacity 0.5s linear;
//   backdrop-filter: blur(5px);
//   border-radius: 50px;
//   text-shadow: 2px 2px 4px #000000;
// }

// .project:hover .project-link {
//   transform: scale(2);
//   visibility: visible;
//   opacity: 1;
// }

// @media screen and (max-width: 768px) {
//   .projects-list {
//     flex-direction: column;
//     align-items: center;
//   }
//   #imgProjects {
//     width: 100%;
//     height: 100%;
//   }
// }
