$hue: 0deg;
$saturation: 0%;

$bg-gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 1.5) 100%
);

// Title
.my-projects-title {
  text-shadow: 1px 2px 2px var(--text);
  color: var(--title-1);
  font-size: 2.5rem;
  text-align: center;
  margin-top: 40px;
}

// Container
.projects-container {
  border: 1px solid var(--text);
  box-shadow: 0 0 10px var(--text);
  height: 75vh;
  position: relative;
  overflow: hidden;
  margin: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 50px;
  @media (max-width: 767px) and (orientation: portrait) {
    height: 50vh;
  }
}

.section-wrap {
  position: relative;
  width: 100%;
}

section {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  visibility: hidden;

  .outer,
  .inner {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }

  .bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    padding: 20px;

    .section-heading {
      order: 1;
      z-index: 2;
      display: block;
      font-size: clamp(1rem, 9vw, 5rem);
      font-weight: 400;
      text-shadow: 2px 2px 4px #000000;
      text-align: center;
      margin-bottom: auto;
      color: hsl(0, 0%, 80%);
      width: 90vw;
      max-width: 1200px;

      .char {
        display: inline-block;
        opacity: 0;
        transform: translateY(100%);
        -webkit-text-stroke: 1px goldenrod;
      }
    }
  }
}

.project-description {
  order: 2;
  font-size: 1.3rem;
  color: var(--white);
  margin-bottom: 10px;
  text-align: center;
  max-width: 80%;
  @media (max-width: 767px) and (orientation: portrait) {
    font-size: 1rem;
  }
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  order: 3;
}

.project-tech-icon {
  font-size: 2rem;
  margin: 2px 2px;
  @media screen and (min-width: 768px) {
    font-size: 3rem;
  }
}

.project-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  border-radius: 50px;
}

.project-link {
  font-size: 1.2rem;
  background-image: var(--gradient);
  border-radius: 50px;
  color: hsl(0, 0%, 80%);
  text-shadow: 2px 2px 4px #000000;
  text-decoration: none;
  padding: 0px 8px;
  &:hover {
    transform: scale(1.5);
    color: var(--title-1);
  }
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.first {
  .bg {
    width: 100%;
    background-image: url("../../assets/images/background/background-3-nebula-webb.webp");
    position: relative;
  }

  .bg::after {
    content: "";
    position: absolute;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-image: url("../../assets/images/icons/project-scroll-gif.gif");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
  }

  @media (min-width: 1025px) {
    .bg::after {
      animation: moveUpDown 0.7s ease-in-out infinite;
      background-color: var(--white);
      border-radius: 50%;
      background-image: url("../../assets/images/icons/desktop-scroll.png");
    }
  }
}

.first .section-heading {
  margin-top: auto;
  margin-bottom: auto;
}

.second {
  .bg {
    background-image: $bg-gradient,
      url(../../assets/images/projectsImages/preview-garage-parrot.webp);
  }
}

.third {
  .bg {
    background-image: $bg-gradient,
      url(../../assets/images/projectsImages/preview-andragogy.webp);
  }
}

.fourth {
  .bg {
    background-image: $bg-gradient,
      url(../../assets/images/projectsImages/preview-webagency.webp);
  }
}

.fifth {
  .bg {
    background-image: $bg-gradient,
      url(../../assets/images/projectsImages/preview-asso-montagne.webp);
  }
}

.sixth {
  .bg {
    background-image: $bg-gradient,
      url(../../assets/images/projectsImages/preview-react-countries-app.webp);
  }
}

.seventh {
  .bg {
    background-image: $bg-gradient,
      url(../../assets/images/projectsImages/preview-trouvez-votre-voiture.png);
  }
}

.eight {
  .bg {
    background-image: $bg-gradient,
      url(../../assets/images/projectsImages/preview-familink.png);
  }
}

.section-heading * {
  will-change: transform;
}
