.skills_container {
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 1023px) {
  .skills_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

// .skills_container::before,
// .skills_container::after {
//   content: "";
//   position: absolute;
//   top: 131px;
//   bottom: 0;
//   width: 20px;
//   background: linear-gradient(to right, rgba(0, 0, 0, 0.25), var(--text));
//   @media screen and (min-width: 1023px) {
//     .skills_container::before {
//       left: 0;
//       transform: scaleX(-1);
//     }
//     .skills_container::after {
//       right: 0;
//     }
//   }
// }

// Skills Title
.skills-title {
  text-shadow: 2px 2px 2px var(--text);
  color: #3498db;
  font-size: 2.5rem;
  text-align: center;
  margin: 20px;
}

// Skills Subtitles
.skills-subtitles {
  font-size: 2rem;
  text-align: center;
  margin-top: 30px;
}

// Skills Scroll
.skills-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  padding: 20px 0;
  -webkit-overflow-scrolling: touch; /* Défilement fluide sur iOS */
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

@media screen and (min-width: 400px) and (max-width: 1023px) {
  .skills-scroll {
    scrollbar-width: auto; // Reset scrollbar for add custom style
  }
  //  Scroll Webkit (Chrome, Safari)
  .skills-scroll::-webkit-scrollbar {
    height: 1vh;
  }
  // Slide track
  .skills-scroll::-webkit-scrollbar-track {
    background: var(--gradient);
    border-radius: 50px;
    border: 2px solid var(--text);
    box-shadow: var(--text);
  }
  // Slide button
  .skills-scroll::-webkit-scrollbar-thumb {
    background: var(--text);
    border-radius: 50px;
    border: 2px solid var(--text);
  }
  .skills-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
@media screen and (min-width: 1024px) {
  .skills-scroll {
    scrollbar-width: none; // Hide scrollbar
  }
  .skills-scroll::-webkit-scrollbar {
    display: none;
  }
}

// Skills icons
.skills-icon {
  margin: 10px;
  font-size: 2.5rem;
  font-weight: 400;
  color: #2ecc71;
  transition: color 0.3s ease;
}

// Skills ul
.skills-ul {
  width: 100%;
  display: flex;
}
@media screen and (min-width: 1023px) {
  .skills-ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}

// Skills list
.skills-li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 1px solid var(--text);
  box-shadow: 0 0 10px var(--text);
  border-radius: 50px;
  padding: 5px;
}
@media screen and (min-width: 1023px) {
  .skills-li {
    padding: 0;
  }
}

// Skills list hover
.skills-li:hover .skills-icon {
  color: #3498db;
}
